# Model data
/GHM/*/*.mat
/GRACE/*/*.mat
/OBPM/*/*.mat

# Users manual
/USER_MANUAL/*

# Default output files
output.*

# Matlab/Octave temp files
*.asv
octave-workspace

# Not matlab scripts
/EXAMPLES/Scripts/era_interim/*.py

