# Model data
/GHM/*/*.mat
/GRACE/*/*.mat
/OBPM/*/*.mat

# Default output files
output.*

# Matlab/Octave temp files
*.asv
octave-workspace

# Not matlab scripts
/EXAMPLES/Scripts/era_interim/*.py

# Unit test (not complete yet)
/test/*
